  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .imgen {
  width: 20px;
  height: 10px;
}
    p {
    text-indent: 50px;
    color : blue
    }