
#banner_inicio{
    background-image: url('../img/banners/banner.png');
    background-size: cover;
    width: 100%;
}

#banner_inicio_buscador{
    padding:2%;
}

#text-buscador{
  position: relative;
  top: -35px;
  right: -100px;
}

.popup-position{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    padding

}

#popup_contenido_sesion{
    width: 300px; margin: 70px auto; text-align: left;
    background-color: #FFF;
    padding: 5px;
    border-radius: 5px;
    animation-name: aparecer;
    animation-duration: 1s;
}

@keyframes aparecer {
    from {opacity: 0; }
    to { opacity: 5;}
}

#popup_contenido_registro{
    width: 700px; margin: 70px auto; text-align: left;
    background-color: #FFF;
    padding: 5px;
    border-radius: 5px;
    animation-name: aparecer;
    animation-duration: 1s;
}

.close {
    width: 20px;
    height: 20px;

}

.close:hover {
    background-color: black;
    border-radius: 10px;
}

#ico_search1, #ico_search2, #ico_search3{
    position:absolute; top:45px;

}

#ico_close1, #ico_close2, #ico_close3{
    position:absolute; top:7px;
}


#map{
height: 100%;
}

#floating-panel{
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

work-collections .collection-header {
  font-size: 1.64rem;
  font-weight: 500;
}
#work-collections .collection-item.avatar {
  height: auto;
}
#work-collections p.collections-title {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  font-weight: 500;
}
#work-collections p.collections-content {
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  font-weight: 400;
}
.collection .collection-item.avatar i.circle {
  font-size: 28px;
}