#banner_inicio{
background-image: url('../img/parallax/1.png');
background-size: cover;
padding: 5%;
height: 450px;
}

#banner_inicio_buscador{
    padding:2%;
    background: rgba(76,76,76,0.50)50%;
    border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    border: 2px none #000000;
    -webkit-box-shadow: 7px 6px 24px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 6px 24px -2px rgba(0,0,0,0.75);
    box-shadow: 7px 6px 24px -2px rgba(0,0,0,0.75);
}

.popup-position{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;

}

#popup_contenido_sesion{
    width: 300px; margin: 70px auto; text-align: left;
    background-color: #FFF;
    padding: 5px;
    border-radius: 5px;
    animation-name: aparecer;
    animation-duration: 1s;
}

@keyframes aparecer {
    from {opacity: 0; }
    to { opacity: 5;}
}

#popup_contenido_registro{
    width: 700px; margin: 70px auto; text-align: left;
    background-color: #FFF;
    padding: 5px;
    border-radius: 5px;
    animation-name: aparecer;
    animation-duration: 1s;
}

.close {
    width: 20px;
    height: 20px;

}

.close:hover {
    background-color: black;
    border-radius: 10px;
}

#ico_search1, #ico_search2{
    position:absolute; top:55px;

}

#ico_close1, #ico_close2{
    position:absolute; top:5px;
}

