{% extends 'base.html' %}
{% load static %}
{% load ratings %}
{% load comments %}
{% load to_point %}

import string

{% block content %}

<div id="fb-root"></div>
<script>
    (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8&appId=1780846565513008";
          fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="row">
    <!-- Boton Edicion -->
        <!-- ACA TIENE QUE IR UN IF, SI ES QUE EL USUARIO ES EL DUEÑO DEL NEGOCIO -->
        <div class="row">
            <div class="col s12 center" style="margin-top:30px;">
                <a class="btn-large brown" href="{% url 'comercio:minegocio' comercio.pk %}"><i class="material-icons left">mode_edit</i>Editar Mi Negocio</a>
            </div>
        </div>
        <!-- FIN IF -->
    <!-- Fin Boton Edicion -->

    <!--Portada -->
    <div class="row">
        <div id="profile-page" class="section" style="margin-left:1%;margin-right:1%;">
            <div id="profile-page-header" class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{% static 'img/usuario/portada-usuario.png'%}" style="height:250px;">
                </div>

                <figure class="card-profile-image" style="width:135px;position:absolute;top:150px;z-index:1;left:30px;cursor:pointer;margin:0;">
                    <img src="{{comercio.imagen.url}}" width="90%" height="90%" class="circle z-depth-2 responsive-img activator">
                </figure>

                <div class="card-content" style="margin-top:-10px;">
                    <div class="row" style=" margin-bottom: 10px;">
                        <div class="col s2 offset-s1" style=" margin-top: 20px;">
                            <h3 class="card-title grey-text text-darken-4">{{ comercio.nombre }}</h3>
                        </div>

                        <div class="col s2 center-align">
                            <h4 class="card-title grey-text text-darken-4">10+</h4>
                            <p class="medium-small grey-text">Calificacion Promedio</p>
                        </div>

                        <div class="col s2 center-align">
                            <h4 class="card-title grey-text text-darken-4">6</h4>
                            <p class="medium-small grey-text">Opiniones Recibidas</p>
                        </div>

                        <div class="col s2 center-align">
                            <h4 class="card-title grey-text text-darken-4">5</h4>
                            <p class="medium-small grey-text">Fotos Subidas</p>
                        </div>

                        <div class="col s2 center-align">
                            <h4 class="card-title grey-text text-darken-4">15</h4>
                            <p class="medium-small grey-text">Otro Dato</p>
                        </div>

                        <div class="col s1 right-align">
                              <a class="btn-floating activator btn-large waves-effect waves-light darken-2 right">
                                  <i class="material-icons large">store</i>
                              </a>
                        </div>
                  </div>
                </div>

                <div class="card-reveal">
                    <p>
                      <span class="card-title grey-text text-darken-4"><i class="material-icons small left cyan-text text-darken-2">store</i>{{ comercio.nombre }} <i class="material-icons medium right">close</i></span>
                      <span><br><i class="material-icons left cyan-text text-darken-2">work</i>{% for r in comercio.rubro.all %}{{ r }}, {% endfor %}</span>
                    </p>
                    <p>{% for t in telefonos %}
                            {% if t.tipo == 'Movil' %}
                                <span><i class="material-icons prefix cyan-text text-darken-2">smartphone</i> {{ t.numero }} </span>
                              {% else %}
                                <span><i class="material-icons prefix cyan-text text-darken-2">phone</i> {{ t.numero }} </span>
                              {% endif %}
                        {% endfor %}</p>
                    <p><i class="material-icons left cyan-text text-darken-2">email</i>{{ comercio.email }}</p>
                    <p><i class="material-icons left cyan-text text-darken-2">cake</i>en "Comemos Algo?" desde el {{ comercio.fecha_publicacion }}</p>
                    <p>{% for d in domicilios %}
                            <i class="material-icons prefix cyan-text text-darken-2">room</i>
                            {{ d.calle }} {{ d.numero }},
                        {% endfor %}</p>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Portada -->

    <div class="row">
        <!-- Barra Lateral -->
            <div class="col s3">
            <div id="profile-page-sidebar" class="col s12">

                <!-- Descripcion Perfil -->
                    <div class="card light-blue">
                  <div class="card-content white-text">
                    <span class="card-title">Descripcion</span>
                    <p>{{ comercio.descripcion }}</p>
                  </div>
                </div>
                <!-- Fin Descripcion Perfil -->

                <!-- Detalles Perfil  -->
                    <ul id="profile-page-about-details" class="collection z-depth-1">

                  <!-- Rubro -->
                  <li class="collection-item">
                    <div class="row">
                      <div class="col s5 grey-text darken-1" style="padding-top:3%;"><i class="material-icons left">work</i> Rubro</div>
                      <div class="col s7 grey-text text-darken-4 right-align" style="padding-top:3%;">
                            {% for r in comercio.rubro.all %}
                                <div class="chip">
                                    {{ r }}
                                </div>
                            {% endfor %}
                      </div>
                    </div>
                  </li>

                  <!-- Forma de Pago -->
                  <li class="collection-item">
                    <div class="row">
                      <div class="col s5 grey-text darken-1" style="padding-top:3%;"><i class="material-icons left">shopping_basket</i> Pago</div>
                      <div class="col s7 grey-text text-darken-4 right-align" style="padding-top:3%;">
                          {% for f in comercio.forma_pago.all %}
                            <div class="chip">
                                {{ f }}
                            </div>
                          {% endfor %}
                      </div>
                    </div>
                  </li>

                  <!-- Delivery -->
                  <li class="collection-item">
                    <div class="row">
                      <div class="col s7 grey-text darken-1" style="padding-top:3%;"><i class="material-icons left">shopping_cart</i> Delivery</div>
                      <div class="col s5 grey-text text-darken-4 right-align" style="padding-top:3%;">
                          <div class="chip">
                              {{ comercio.delivery }}
                          </div>
                      </div>
                    </div>
                  </li>

                  <!-- Horarios -->
                  <li class="collection-item">
                    <div class="row">
                      <div class="col s12 grey-text darken-1" style="padding-top:3%;"><i class="material-icons left">schedule</i> Horarios</div>
                    </div>
                    <div class="row">
                      <div class="col s12 grey-text text-darken-4 right-align" style="padding-top:3%;">
                          {% if horarios %}
                              {% for h in horarios.all  %}
                                <div class="chip">
                                    <span>{{ h.descripcion }} de {{ h.apertura }} a {{ h.cierre }}</span>
                                </div>
                              {% endfor%}
                          {% endif%}
                      </div>
                    </div>
                  </li>

                  <!-- Domicilio -->
                  <li class="collection-item">
                    <div class="row">
                      <div class="col s12 grey-text darken-1" style="padding-top:3%;"><i class="material-icons left">room</i> Domicilio </div>
                    </div>
                    <div class="row">
                      <div class="col s12 grey-text text-darken-4 right-align">
                          {% for d in domicilios %}
                            <div class="chip right">
                              <span>{{ d.calle }} {{ d.numero }}</span>
                            </div>
                          {% endfor %}
                      </div>
                    </div>
                  </li>

                  <!-- Telefono -->
                  <li class="collection-item">
                    <div class="row">
                      <div class="col s6 grey-text darken-1" style="padding-top:3%;"><i class="material-icons left">phone</i> Telefono </div>
                      <div class="col s6 grey-text text-darken-4 right-align" style="padding-top:3%;">
                          {% for t in telefonos %}
                            <div class="chip">
                                <h6>{{ t.numero }}</h6>
                            </div>
                          {% endfor %}
                      </div>
                    </div>
                  </li>

                </ul>
                <!-- Fin Detalles Perfil  -->

                <!-- Redes Sociales  -->
                    {% if redes_sociales %}
                        {% for r in redes_sociales %}
                            {% if r.nombre == 'Facebook' %}
                                <div class="card white darken-2">
                                  <div class="card-content white-text center-align">
                                      <div class="fb-page" data-href="{{ r.link }}" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
                                  </div>
                                </div>
                            {% endif %}

                            {% if r.nombre == 'Twitter' %}
                                <div class="card white darken-2">
                                  <div class="card-content white-text center-align">
                                      <a class="twitter-timeline" data-height="400" href="{{ r.link }}">Tweets by {{ comercio.nombre }}</a>
                                      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                  </div>
                                </div>
                            {% endif %}

                            {% if r.nombre == 'Instagram' %}
                                <div class="card amber darken-2">
                                  <div class="card-content white-text center-align">
                                      Instagram
                                  </div>
                                </div>
                            {% endif %}

                            {% if r.nombre == 'Google+' %}
                                <div class="card white darken-2">
                                  <div class="card-content white-text center-align">
                                        <div class="g-page" data-width="250" data-href="//{{ r.link }}" data-showtagline="false" data-rel="publisher"></div>

                                        <script type="text/javascript">
                                          window.___gcfg = {lang: 'es'};

                                          (function() {
                                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                            po.src = 'https://apis.google.com/js/platform.js';
                                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                          })();
                                        </script>
                                  </div>
                                </div>
                            {% endif %}

                        {% endfor %}
                    {% endif %}
                <!-- Fin Redes Sociales-->

                <!-- Mapa -->
                    <div class="row">
                        <div class="col s12" style="height:50%;width:100%;">
                            <div id="map"></div>
                                <script>
                                    function initMap() {
                                      var map = new google.maps.Map(document.getElementById('map'), {
                                        center: {lat: -28.469235, lng: -65.778826},
                                        zoom: 13,
                                        disableDefaultUI: true

                                      });

                                      {% if domicilios %}
                                        {% for domicilio in domicilios %}
                                                var marker1 = new google.maps.Marker({
                                                    position: new google.maps.LatLng({{ domicilio.position }}),
                                                    map: map,
                                                });
                                        {% endfor %}
                                      {% endif %}
                                    }
                                </script>
                                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHpVXm1_SpgpAUOMwQ-c9PC-dtnklO3n0&callback=initMap" async defer></script>
                        </div>
                    </div>
                <!-- Fin Mapa -->

            </div>
          </div>
        <!-- Fin Barra Lateral -->

        <!-- Muro -->
            <div class="col s9">
                <div class="row">
                    <div id="profile-page-wall-share" class="row">

                       <div class="col s12">
                             <ul class="tabs z-depth-1 light-blue" style="width: 100%;">
                                <li class="tab col s4 center"><a class="active white-text" href="#Menu"><i class="material-icons">view_headline</i> Menu</a></li>
                                <li class="tab col s4 center"><a class="white-text" href="#Promociones"><i class="material-icons">mode_edit</i> Promos y Descuentos</a></li>
                                <li class="tab col s4 center"><a class="white-text" href="#Opiniones"><i class="material-icons">speaker_notes</i> Opiniones</a></li>
                               <div class="indicator" style="right: 577px; left: 0px;"></div>
                             </ul>

                            <!-- Menu -->
                            <div id="Menu" class="tab-content col s12  grey lighten-4" style="display: none;">
                                <h5 class="center">Comidas</h5>
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">room_service</i>Carnes</div>
                                        <div class="collapsible-body">
                                            <div class="row">
                                                <div class="col s4">
                                                    <div class="card">
                                                        <div class="card-image waves-effect waves-block waves-light" style="height:200px;">
                                                            <img class="activator" src="{% static 'img/banners/Carnes.png'%}" width="100%">
                                                        </div>

                                                        <div class="card-content" style="margin-top:-10px;">
                                                            <div class="row" style="margin-top:-80px; margin-left:-10px;">
                                                                <div class="col s10">
                                                                    <h3 class="card-title grey-text text-darken-4">Nombre Comida</h3>
                                                                </div>

                                                                <div class="col s2 right-align">
                                                                      <a class="btn-floating activator waves-effect waves-light darken-2 right">
                                                                          <i class="material-icons">info_outline</i>
                                                                      </a>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col s12 center-align">
                                                                    <h5 class="medium-small grey-text">Precio: $ 100</h5>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="card-reveal">
                                                    <p>
                                                      <span class="card-title grey-text text-darken-4"><i class="material-icons small left cyan-text text-darken-2">store</i>{{ comercio.nombre }} <i class="material-icons medium right">close</i></span>
                                                      <span><br><i class="material-icons left cyan-text text-darken-2">work</i>Nombre Comida</span>
                                                    </p>
                                                    <p><i class="material-icons left cyan-text text-darken-2">phone</i>Rubro</p>
                                                    <p><i class="material-icons left cyan-text text-darken-2">email</i>Ingredientes</p>
                                                </div>
                                                    </div>
                                                </div>

                                                <div class="col s4">
                                                    <div class="card">
                                                        <div class="card-image waves-effect waves-block waves-light" style="height:200px;">
                                                            <img class="activator" src="{% static 'img/banners/Carnes.png'%}" width="100%">
                                                        </div>

                                                        <div class="card-content" style="margin-top:-10px;">
                                                            <div class="row" style="margin-top:-80px; margin-left:-10px;">
                                                                <div class="col s10">
                                                                    <h3 class="card-title grey-text text-darken-4">Nombre Comida</h3>
                                                                </div>

                                                                <div class="col s2 right-align">
                                                                      <a class="btn-floating activator btn-large waves-effect waves-light darken-2 right">
                                                                          <i class="material-icons">+</i>
                                                                      </a>
                                                                </div>

                                                            </div>

                                                            <div class="row">
                                                                <div class="col s12 center-align">
                                                                    <h5 class="medium-small grey-text">Calificacion: 5/5</h5>
                                                                </div>

                                                                <div class="col s12 center-align">
                                                                    <h5 class="medium-small grey-text">Precio: $ 100</h5>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="card-reveal">
                                                    <p>
                                                      <span class="card-title grey-text text-darken-4"><i class="material-icons small left cyan-text text-darken-2">store</i>{{ comercio.nombre }} <i class="material-icons medium right">close</i></span>
                                                      <span><br><i class="material-icons left cyan-text text-darken-2">work</i>Nombre Comida</span>
                                                    </p>
                                                    <p><i class="material-icons left cyan-text text-darken-2">phone</i>Rubro</p>
                                                    <p><i class="material-icons left cyan-text text-darken-2">email</i>Ingredientes</p>
                                                </div>
                                                    </div>
                                                </div>

                                                <div class="col s4">
                                                    <div class="card">
                                                        <div class="card-image waves-effect waves-block waves-light" style="height:200px;">
                                                            <img class="activator" src="{% static 'img/banners/Carnes.png'%}" width="100%">
                                                        </div>

                                                        <div class="card-content" style="margin-top:-10px;">
                                                            <div class="row" style="margin-top:-80px; margin-left:-10px;">
                                                                <div class="col s10">
                                                                    <h3 class="card-title grey-text text-darken-4">Nombre Comida</h3>
                                                                </div>

                                                                <div class="col s2 right-align">
                                                                      <a class="btn-floating activator btn-large waves-effect waves-light darken-2 right">
                                                                          <i class="material-icons">+</i>
                                                                      </a>
                                                                </div>

                                                            </div>

                                                            <div class="row">
                                                                <div class="col s12 center-align">
                                                                    <h5 class="medium-small grey-text">Calificacion: 5/5</h5>
                                                                </div>

                                                                <div class="col s12 center-align">
                                                                    <h5 class="medium-small grey-text">Precio: $ 100</h5>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="card-reveal">
                                                    <p>
                                                      <span class="card-title grey-text text-darken-4"><i class="material-icons small left cyan-text text-darken-2">store</i>{{ comercio.nombre }} <i class="material-icons medium right">close</i></span>
                                                      <span><br><i class="material-icons left cyan-text text-darken-2">work</i>Nombre Comida</span>
                                                    </p>
                                                    <p><i class="material-icons left cyan-text text-darken-2">phone</i>Rubro</p>
                                                    <p><i class="material-icons left cyan-text text-darken-2">email</i>Ingredientes</p>
                                                </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header">Pizzas</div>
                                        <div class="collapsible-body"></div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header">Sandwichs</div>
                                        <div class="collapsible-body"></div>
                                    </li>
                                </ul>

                                <h5>Bebidas</h5>
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header">Gaseosas</div>
                                        <div class="collapsible-body">

                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header">Aguas</div>
                                        <div class="collapsible-body"></div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header">Cervezas</div>
                                        <div class="collapsible-body"></div>
                                    </li>
                                </ul>
                            </div>

                            <!-- Opiniones -->
                            <div id="Opiniones" class="tab-content col s12  grey lighten-4" style="display: none;">

                                <!-- Calificacion -->
                                <div class="row center">
                                    <br><br>
                                  <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
                                  <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
                                  {% ratings object %}
                                </div>

                                <!-- Comentarios -->
                                <div class="row">
                                {% get_comment_list for comercio.comercio comercio.pk as comment_list %}
                                    {% for comment in comment_list %}
                                        <div class="col s12 m12">
                                            <div class="row grey lighten-4 z-depth-1" style="margin-top:20px; padding:30px;">
                                                <div class="row">
                                                    <div class="col s2">
                                                        <img class="circle responsive-img" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width="70%"/>
                                                    </div>

                                                    <div class="col s9">
                                                        <div class="row">
                                                            <b>{{ comment.user_name }}</b> - {{ comment.submit_date }}
                                                        </div>

                                                        <div class="divider"></div>

                                                        <div class="row">
                                                            <h6>{{ comment.comment }}</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                              </div>

                                <!-- Form Comentario -->
                                <div class="row">
                                {% if request.user.is_authenticated%}
                                <div class="row">
                                <div class="col s2">
                                  <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="circle responsive-img valign profile-image-post" style="width:50%;margin:30px 10px;">
                                </div>
                                <div class="input-field col s10" style="margin-top:3%;">
                                  <textarea id="textarea" row="2" class="materialize-textarea" style="margin-top:2rem;"></textarea>
                                  <label for="textarea" class="">Compartenos tu opinion o foto!</label>
                                </div>
                              </div>

                                <div class="row">
                                    <div class="col s7 offset-s2 share-icons">
                                      <a href=""><i class="material-icons prefix" style="margin-left:1%;margin-right:1%;">perm_media</i></a>
                                    </div>

                                    <div class="col s3 right-align">
                                        <a class="waves-effect waves-light btn"><i class="material-icons left">send</i>Publicar</a>
                                    </div>
                                </div>
                                {% else %}
                                <div class="row center">
                                    <div class="chip">
                                        <h6><a href="/accounts/login/">Inicia Sesion</a> para Comentar</h6>
                                    </div>
                                </div>
                                {% endif %}
                              </div>
                            </div>
                       </div>

                    </div>
                </div>
            </div>
        <!-- Fin Muro -->
    </div>
</div>

<script>
  $(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>

<!-- Script Mapa -->
<!-- <script>
    // enable the visual refresh
    google.maps.visualRefresh = true;

    var map;
    function initialize() {
      var mapOptions = {
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
        // try HTML5 geolocation
      if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = new google.maps.LatLng(position.coords.latitude,
                                           position.coords.longitude);

          var infowindow = new google.maps.InfoWindow({
            map: map,
            position: pos,
            content: 'Location found using HTML5.'
          });

          map.setCenter(pos);
        }, function() {
          handleNoGeolocation(true);
        });
      } else {
        // browser doesn't support geolocation
        handleNoGeolocation(false);
      }
    }

    function handleNoGeolocation(errorFlag) {
      if (errorFlag) {
        var content = 'Error: The Geolocation service failed.';
      } else {
        var content = 'Error: Your browser doesn\'t support geolocation.';
      }

      var options = {
        map: map,
        position: new google.maps.LatLng(60, 105),
        content: content
      };

      var infowindow = new google.maps.InfoWindow(options);
      map.setCenter(options.position);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>-->
{% endblock %}