{% load staticfiles %}
{% load account %}
{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        {% block css %}
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
            <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
        {% endblock %}

        <title>{% block title %} Document {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    </head>

    <body class="blue-grey darken-1">

        <!-- NAVBAR -->
        <div class="navbar-fixed">
        {% include 'navbar.html' %}
        </div>
        <!--CONTENIDO-->
        <div class="row">
            {% block content %}

            {% endblock %}
        </div>

        <!-- FOOTER -->
        <div class="row">
	        {% include 'footer.html' %}
        </div>

		{% block javascript %}
            <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
            <script src="{% static 'js/materialize.js' %}"></script>
	        <script src="{% static 'js/scripts.js' %}"></script>
        {% endblock %}
    </body>

</html>