{% load staticfiles %}
<footer class="page-footer red darken-3">

	<div class="container">
	    <div class="row">
		    <div class="col l6 s12">
			    <h5 class="white-text">Comemos Algo</h5>
			    <p class="grey-text text-lighten-4">Seguinos en</p>

			    <div>
				    <a href="#"><img src="{% static 'img/social/facebook.png' %}" alt="Facebook"></a>
				    <a href="#"><img src="{% static 'img/social/google.png' %}" alt="Google+"></a>
				    <a href="#"><img src="{% static 'img/social/twitter.png' %}" alt="Twitter"></a>
			    </div>

		    </div>
	    </div>
    </div>

	<div class="footer-copyright">
		<div class="container">
			Team HidraSoft
			<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
		</div>
	</div>

</footer>
