{% load staticfiles %}
<footer class="page-footer green darken-3">

	    <div class="row">
		    <div class="col l2 s3 center">
			    <img src="{% static 'img/img_project/Logo.png' %}" width="90%"/>
				<br><h6 class="white-text">Redes Sociales</h6><br>
				    <a href="#"><img src="{% static 'img/social/facebook.png' %}" width="20%" alt="Facebook"></a>
				    <a href="#"><img src="{% static 'img/social/google.png' %}" width="20%" alt="Google+"></a>
				    <a href="#"><img src="{% static 'img/social/twitter.png' %}" width="20%" alt="Twitter"></a>
			</div>
	    </div>

        <div class="footer-copyright">
            <div class="container">
                Team HidraSoft
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>

</footer>
