{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
ComemosAlgo
{% endblock %}


{% block content %}


     <div class="row">
     <h4>Los mas visitados</h4>
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
            </div>
            <div class="card-content">
              <span class="card-title">Comercio 1</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>

        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
            </div>
            <div class="card-content">
              <span class="card-title">Comercio 2</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>

        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
            </div>
            <div class="card-content">
              <span class="card-title">Comercio 3</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>

        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
            </div>
            <div class="card-content">
              <span class="card-title">Comercio 3</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">Ver mas/a>
            </div>
          </div>
        </div>

     </div>

      <div class="row">
       <h4>Novedades Semanales!</h4>
          <div class="col s6 m3">
            <div class="card">
              <div class="card-image">
                <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
              </div>
              <div class="card-content">
                <span class="card-title">Comercio 1</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">Ver mas</a>
              </div>
            </div>
          </div>

          <div class="col s6 m3">
            <div class="card">
              <div class="card-image">
                <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
              </div>
              <div class="card-content">
                <span class="card-title">Comercio 2</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">Ver mas</a>
              </div>
            </div>
          </div>

          <div class="col s6 m3">
            <div class="card">
              <div class="card-image">
                <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
              </div>
              <div class="card-content">
                <span class="card-title">Comercio 3</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">Ver mas</a>
              </div>
            </div>
          </div>

          <div class="col s6 m3">
            <div class="card">
              <div class="card-image">
                <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
              </div>
              <div class="card-content">
                <span class="card-title">Comercio 3</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">Ver mas/a>
              </div>
            </div>
          </div>

       </div>

       <div class="row">
     <h4>Promociones y Descuentos</h4>
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">

            </div>
            <div class="card-content">
              <span class="card-title">Comercio 1</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>

        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
            </div>
            <div class="card-content">
              <span class="card-title">Comercio 2</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>

        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
            </div>
            <div class="card-content">
              <span class="card-title">Comercio 3</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>

        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
            </div>
            <div class="card-content">
              <span class="card-title">Comercio 3</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">Ver mas/a>
            </div>
          </div>
        </div>

     </div>

     <div class="row">
     <h4>Opiniones</h4>
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
            </div>
            <div class="card-content">
              <span class="card-title">Comercio 1</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>

        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
            </div>
            <div class="card-content">
              <span class="card-title">Comercio 2</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>

        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
            </div>
            <div class="card-content">
              <span class="card-title">Comercio 3</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>

        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
            </div>
            <div class="card-content">
              <span class="card-title">Comercio 3</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>

     </div>
{% endblock %}