{% extends 'base.html' %}
{% load staticfiles %}
{% load account %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %}
ComemosAlgo
{% endblock %}


{% block content %}



    <div class="col s12" id="banner_inicio">
        <div class="row container"  id="banner_inicio_buscador">
            <div class="row">
                <form>
                    <h5 style="text-align:center">Tene hambre ameo? Busca algo pal buche</h5><br>

                    <div class="input-field col s5">
                        <input id="search-adress" type="search" placeholder="Busca por direccion" required>
                        <label for="search-adress" id="ico_search1"><i class="material-icons">search</i></label>
                        <i class="material-icons" id="ico_close1">close</i>
                    </div>

                    <div class="input-field col s7">
                        <input id="search-food" type="search" placeholder="Ingresa un Comercio o Comida a Buscar" required>
                        <label for="search-food" id="ico_search2"><i class="material-icons">search</i></label>
                        <i class="material-icons" id="ico_close2">close</i>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col s1"></div>
                <div class="col s6">
                    <p>
                        <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                        <label for="filled-in-box">Buscar a partir de mi ubicacion</label>
                    </p>
                </div>

                <div class="col s4">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

<div class="section white">
    <div class="row container">
         <div class="row">
             {% if request.user.is_authenticated %}
                <a href="/accounts/logout/" class="pull-right">Logout</a>
                {% if request.user.first_name or request.user.last_name %}

                    {{ request.user.first_name }} {{ request.user.last_name }}
                {% else %}
                    {{ request.user.username }}
                {% endif %}
                {% if request.user.profile.account_verified %} (verified) {% else %} (unverified) {% endif %}

            {% else %}
                <a href="/accounts/login/" class="pull-right">Login</a>
                <a href="{% provider_login_url 'facebook' method='js_sdk' %}"><img src="http://sellrshop.com/images/fblogin_button.png" style="width:15%"/></a>
            {% endif %}

             {% user_display user %}
             {{ user_display }} has logged in...  <img src="{{ request.user.profile.profile_image_url }}"/>
             <h4>Los mas visitados</h4>
             <div class="col s6 m3">
                 <div class="card">
                     <div class="card-image">
                        <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
                     </div>

                     <div class="card-content">
                        <span class="card-title">Comercio 1</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                     </div>

                     <div class="card-action">
                         <a href="#">Ver mas</a>
                     </div>
                 </div>
             </div>

            <div class="col s6 m3">
                <div class="card">

                    <div class="card-image">
                        <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
                    </div>

                    <div class="card-content">
                        <span class="card-title">Comercio 2</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>

                    <div class="card-action">
                        <a href="#">Ver mas</a>
                    </div>
                </div>
            </div>

            <div class="col s6 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
                    </div>

                    <div class="card-content">
                        <span class="card-title">Comercio 3</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>

                    <div class="card-action">
                        <a href="#">Ver mas</a>
                    </div>
                </div>
            </div>

            <div class="col s6 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
                    </div>

                    <div class="card-content">
                        <span class="card-title">Comercio 3</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>

                    <div class="card-action">
                        <a href="#">Ver mas/a>
                    </div>

                </div>
            </div>
         </div>

        <div class="row">
            <h4>Novedades Semanales!</h4>
            <div class="col s6 m3">

                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
                    </div>

                    <div class="card-content">
                        <span class="card-title">Comercio 1</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>

                    <div class="card-action">
                        <a href="#">Ver mas</a>
                    </div>
                </div>
            </div>

            <div class="col s6 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
                    </div>

                    <div class="card-content">
                        <span class="card-title">Comercio 2</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>

                    <div class="card-action">
                        <a href="#">Ver mas</a>
                    </div>
                </div>
            </div>

            <div class="col s6 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
                    </div>

                    <div class="card-content">
                        <span class="card-title">Comercio 3</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>

                    <div class="card-action">
                        <a href="#">Ver mas</a>
                    </div>
                </div>
            </div>

            <div class="col s6 m3">
                <div class="card">

                    <div class="card-image">
                        <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
                    </div>

                    <div class="card-content">
                        <span class="card-title">Comercio 3</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>

                    <div class="card-action">
                        <a href="#">Ver mas/a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <h4>Promociones y Descuentos</h4>

            <div class="col s6 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
                    </div>

                    <div class="card-content">
                        <span class="card-title">Comercio 1</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>

                    <div class="card-action">
                        <a href="#">Ver mas</a>
                    </div>
                </div>
            </div>

            <div class="col s6 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
                    </div>

                    <div class="card-content">
                        <span class="card-title">Comercio 2</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>

                    <div class="card-action">
                        <a href="#">Ver mas</a>
                    </div>
                </div>
            </div>

            <div class="col s6 m3">
                <div class="card">

                    <div class="card-image">
                        <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
                    </div>

                    <div class="card-content">
                        <span class="card-title">Comercio 3</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>

                    <div class="card-action">
                        <a href="#">Ver mas</a>
                    </div>
                </div>
            </div>

            <div class="col s6 m3">
                <div class="card">

                    <div class="card-image">
                        <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
                    </div>

                    <div class="card-content">
                        <span class="card-title">Comercio 3</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                    </div>

                    <div class="card-action">
                        <a href="#">Ver mas/a>
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
             <h4>Opiniones</h4>
                <div class="col s6 m3">

                    <div class="card">

                        <div class="card-image">
                            <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
                        </div>

                        <div class="card-content">
                            <span class="card-title">Comercio 1</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>

                        <div class="card-action">
                            <a href="#">Ver mas</a>
                        </div>
                    </div>
                </div>

                <div class="col s6 m3">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
                        </div>

                        <div class="card-content">
                            <span class="card-title">Comercio 2</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                        </div>

                        <div class="card-action">
                            <a href="#">Ver mas</a>
                        </div>
                    </div>
                </div>

                <div class="col s6 m3">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
                        </div>

                        <div class="card-content">
                            <span class="card-title">Comercio 3</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                        </div>

                        <div class="card-action">
                            <a href="#">Ver mas</a>
                        </div>
                    </div>
                </div>

                <div class="col s6 m3">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'img/logos_comercios/logo1.png' %}" alt="Nombre Comercio">
                        </div>

                        <div class="card-content">
                            <span class="card-title">Comercio 3</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                        </div>

                        <div class="card-action">
                            <a href="#">Ver mas</a>
                        </div>
                    </div>
                </div>
         </div>
    </div>
</div>
{% endblock %}