{% extends 'base.html' %}


{% block content %}
    <div class="section white">
        <div class="row container">
             <div class="col s12 m12">

            {% if object_list %}
                <h2 class="header">Resultado de Busqueda</h2>
                {% for comercio in object_list %}
                 <div class="card horizontal">
                  <div class="card-image">
                    <img src="{{ comercio.imagen }}">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ comercio.codigo }}</p>
                        <h3>{{ comercio.nombre }}</h3>
                        <p>{{ comercio.rubro }}</p>
                        <p>{{ comercio.horarios }}</p>
                        <p>{{ comercio.descripcion }}</p>
                        <p>{{ comercio.disponibilidad }}</p>
                        <p>{{ comercio.domicilio }}</p>
                    </div>
                    <div class="card-action">
                      <a href="{% url 'comercio:detalle' comercio.pk %}">Ver mas</a>

                    </div>
                  </div>
                </div>
                 {% endfor %}
                 {% else %}
                    <h1>No se encontraron de Comercios</h1>
                 {% endif %}
             </div>
        </div>
    </div>
{% endblock %}
