<nav class="red darken-3">
	<div class="nav_wrapper">
		<a href="">
			<img src="{% static 'img/img_project/Logo.png'%}" style="width: 11%"/>
		</a>

		<ul id="nav-mobile" class="right hide-on-med-and-down">
			{% if request.user.is_authenticated %}
				{% if request.user.first_name or request.user.last_name %}
					<li><img class="circle responsive-img" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" style="width: 7%"/>
						{{ request.user.first_name }} {{ request.user.last_name }}</li>

					<!--{% user_display user %}-->

					<li><a href="/accounts/logout/" class="pull-right">Cerrar Sesion</a></li>

				{% else %}
					<li><a href="/accounts/logout/" class="pull-right">Cerrar Sesion</a></li>
					<li><a>{{ request.user.username }}</a></li>
				{% endif %}

			<!--{% if request.user.profile.account_verified %}
            (verified)
            {% else %}
            (unverified)
            {% endif %}-->
			{% else %}
				<!--<li><a href="/accounts/login/" class="pull-right">Login</a></li>
                <li><a href="{% provider_login_url 'facebook' method='js_sdk' %}">Iniciar Sesion con Fb</a></li>-->
				<li><a class="waves-effect waves-teal pull-right" href="/accounts/login/"><i class="material-icons left">vpn_key</i>Iniciar Sesion</a></li>
			{% endif %}
				<!--<li><a class="waves-effect waves-teal " href="javascript:void(0)" onclick="visibilidad('popup_registro');"><i class="material-icons left">perm_identity</i>Registrarse</a></li>-->
		</ul>

		<ul class="side-nav" id="mobile-demo">
			<li><a href="">Registrarse</a></li>
			<li><a href="">Iniciar Sesion</a></li>
		</ul>
	</div>
</nav>
